/* body {
  margin: 24px;
}
.is-hidden {
  display: none;
} */
/* ===================== */
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
  text-align: center;
} */
/* body {
  padding: 16px;
  text-align: center;
} */
/* body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-form input {
  margin-bottom: 16px;
  padding: 8px 12px;
}

.register-form button {
  padding: 12px;
} */
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}